---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.pinned %}
        <li class="bau">

          <a class="post-link pinned" href="{{ post.url | prepend: site.baseurl }}">
            <i class="fa fa-map-pin r-ma-10"></i>
            {{ post.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>


  {% include presentation.html %}

  {{ site.posts.class }}

  {% if site.posts.size > 0 %}




    <h1 class="spaced-w-border">Contenuti</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%Y/%-m/%-d" }}
          </span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
