<h1>Presentazione</h1>

{% include image.html img="/assets/img/anno_1/panoramica_aula1.jpg" title="spazio_aula_1" %}

<p>
  La <strong>Casa dei Bambini Pavese</strong> è un progetto di educazione parentale promosso e gestito dall'Associazione di promozione sociale <a href="http://www.montessoriattiva-pavia.it/" target="_blank">MontessoriAttiva - Pavia</a> che si ispira alle geniali idee di Maria Montessori.

  La Casa è situata al piano terra della scuola primaria del comune di Sommo, paesino situato a una decina di chilometri a sud di Pavia.
</p>
<p>
  La Casa ha accolto una quindicina di bambini nel settembre del 2016 dopo i lavori di sistemazione e di allestimento degli spazi concessi dal Comune di Sommo, grazie ai <a href="{{ site.posts.last.url | prepend: site.baseurl }}">lavori</a> eseguiti dai genitori e dai nonni.


  Le attività dei bambini sono organizzate e guidate da Gloria e Martina, le nostre educatrici in possesso sia del diploma per la prima infanzia che  il diploma di specializzazione nella differenziazione didattica Montessori per insegnanti della scuola dell’infanzia, entrambi rilasciati da <a href="http://www.operanazionalemontessori.it/" target="_blank">Opera Nazionale Montessori</a>. 
</p>
<p>
  A fine luglio 2017 si è concluso il primo anno di questa meravigliosa avventura. Alcuni bambini a settembre proseguiranno il loro percorso nella prima classe della scuola primaria nella sezione a metodo differenziazione didattica Montessori al piano superiore, gli altri proseguiranno affiancati da nuovi bambini che a settembre saranno accompagnati dai genitori nell'ambientamento.
</p>

<p>
  Attualmente genitori e nonni stanno lavorando per un nuovo assetto degli ambienti. Si ripartirà a settembre 2017!
</p>

<p>
  Per qualunque informazione o curiosità <a href="mailto:casadeibambinipavese@gmail.com">scrivici un email</a>
</p>