<h1>Presentazione</h1>

{% include image.html img="/assets/img/anno_1/panoramica_aula1.jpg" title="spazio_aula_1" %}

<p>
  La <strong>Casa dei Bambini Pavese</strong> è un progetto di educazione parentale promosso e gestito da <a href="http://www.montessoriattiva-pavia.it/" target="_blank">MontessoriAttiva - Pavia</a> che si ispira alle geniali idee di Maria Montessori.

  La Casa è situata in uno stabile comunale nel territorio di Sommo, paesino situato a una decina di chilometri a sud di Pavia.
</p>
<p>
  La Casa ha aperto le porte ad una quindicina di bambini nel settembre del 2016 dopo i lavori di risanamento e di allestimento degli spazi concessi dal Comune di Sommo e <a href="{{ site.posts.last.url | prepend: site.baseurl }}">realizzate</a> dai genitori e dai nonni.


  Le attività dei bambini sono gestite e organizzate da Gloria e Martina, le nostre due maestre fresche di diploma rilasciato da <a href="http://www.operanazionalemontessori.it/" target="_blank">Opera Nazionale Montessori</a>. 
</p>
<p>
  A fine luglio 2017 si è concluso il primo anno di questa meravigliosa avventura. Alcuni bambini ci lasciano e proseguono il cammino nella scuola primaria a differenziazione didattica Montessori a Sommo (si trova al piano di sopra :-), altri proseguono e nuovi bambini arrivano... L'avventura riparte a settembre 2017!
</p>

<p>
  Per qualunque informazione o curiosità non esitare a <a href="mailto:casadeibambinipavese@gmail.com">scrivere una email</a>
</p>