<h1>Presentazione</h1>

{% include image.html img="/assets/img/anno_1/panoramica_aula1.jpg" title="spazio_aula_1" %}

<p>
  La Casa dei Bambini Pavese è un progetto di educazione parentale per bambini dai 3 ai 6 anni promosso e gestito dall'Associazione di promozione sociale MontessoriAttiva - Pavia che si ispira dalla pedagogia di Maria Montessori.
</p>

<blockquote class="cdb">
    <p>La nostra è una ‘Casa dei Bambini’, piuttosto che una vera e propria scuola; cioè un ambiente specialmente preparato per il bambino dove esso assimila qualsiasi cultura diffusa dall’ambiente senza bisogno di insegnamento.</p>
    <footer>
        M. Montessori,  La mente del bambino
    </footer>
</blockquote>

<p>
  Prosegui con <a href="{{ 'p_project' | prepend: site.baseurl }}">{{ 'il progetto parentale...' }}</a>
</p>
<p>
  Per qualunque informazione o curiosità <a href="mailto:casadeibambinipavese@gmail.com">scrivici una e-mail</a>
</p>
