{% include image.html img="/assets/img/unsplash/altalena-al-mare-740-striscia.jpg" title="altalena" %}

<div class="announcement">
  <p>Il 12 settembre 2016 apre le porte a Sommo (PV) la <strong>Casa dei Bambini</strong>, una scuola materna a metodo e filosofia Montessori per bambini dai 3 ai 6 anni. È la realizzazione del sogno di un gruppo di genitori della provincia di Pavia, un progetto di <strong>scuola parentale</strong> che prende vita.</p>

  <p>Abbiamo trovato due maestre disposte a mettersi in gioco, un bel numero di famiglie appassionate e tra qualche settimana si parte!</p>

  <p>Ci sono ancora posti disponibili: se sei interessato compila il form qui sotto oppure scrivi a <a href="mailto:casadeibambinipavese@gmail.com">casadeibambinipavese@gmail.com</a></p>

  <p>
    <form class="form-container" action="https://formspree.io/info@casadeibambinipavese.it" method="POST">
      <div class="form-title"><h2>Richiedi informazioni</h2></div>

      <div class="form-title">Nome</div>
      <input class="form-field" type="text" name="Nome" /><br />
      <div class="form-title">Email</div>
      <input class="form-field" type="text" name="email" /><br />
      <div class="form-title">Telefono</div>
      <input class="form-field" type="text" name="Tel" /><br />
      <div class="form-title">Messaggio</div>
      <textarea class="form-field" type="text" name="messaggio" style="height: 150px;" /></textarea><br />

      <div class="submit-container">
      <input class="submit-button" type="submit" value="Invia" />
    </div>
    </form>
  </p>

</div>
